 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>

      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="">Emergency services:</a></h4>
            <p>healthacare  is fully equipped with the appropriate emergency medical service facilities, training and equipment in the accident and emergency department to help the victims of accidents. Ambulance services, paramedic services and other emergency care and services are provided to victims.</p>


          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">laboratory services </a></h4>
            <p>The department of laboratory Equipped with cutting-edge technology and backed by the expertise of skilled doctors & technologists, the Department of Pathology & Microbiology is one of its kind in the country with a service list of more than 500 tests. The department comprises of four sections namely Biochemistry, Immunology, Clinical Pathology & Microbiology.</p>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a href="">home nursing services</a></h4>
            <p>In consultation with the doctor,our registered nurse will set up a plan of care. Nursing care may include wound dressing, ostomy care, intravenous therapy, administering medication, monitoring the general health of the patient, pain control, and other health support</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->